.message {
   box-sizing: border-box;
   list-style: none;
   max-width: 400px;
   margin-bottom: 10px;
   overflow: hidden;
 
   &:last-of-type {
     margin-bottom: 30px;
   }
 
   &_is-not-owner {
     align-self: flex-end;
   }
 
   &_is-img {
     padding: 11px;
     border-radius: 10px;
     border: 1px solid #eaeaea;
   }
 
   &__text {
     margin: 0;
     display: inline-block;
     padding: 11px;
     border-radius: 10px;
     font-size: 10px;
     color: #1e1e1e;
     font-weight: 500;
     line-height: 15px;
   }
 
   &__text_is-me {
     background-color: #f8f8f8;
   }
 
   &__text_is-friend {
     background-color: #e0e6ef;
   }
 
   &__img {
     max-width: 402px;
     width: 100%;
     object-fit: contain;
   }
 
   &__time {
     margin: 0;
     position: relative;
     color: #999;
     font-size: 9px;
     font-weight: 500;
     line-height: 9px;
     text-align: right;
     margin: 6px 0 0 30px;
     float: right;
   }
 
 
 
 
 
 
   &__time_is-img {
     color: #fff;
     padding: 2px 7px;
     border-radius: 30px;
     background-color: #a8a8a8;
   }
 }
 