---
title: Мессенджер
css:
  - ../styles/styles.css
  - ../component/chat/chat.css
  - ../component/searchChat/searchChat.css
  - ../component/listItem/listItem.css
  - ../component/avatar/avatar.css
  - ../component/popup/popup.css
  - ../component/input/input.css
  - ../component/button/button.css
  - ../component/message/message.css
---
{{!< chat}}

<div class="page">
  {{> chat/chat}}
</div>
