---
title: Редактировать профиль
css:
  - ../styles/styles.css
  - ../component/editProfile/editProfile.css
  - ../component/popup/popup.css
  - ../component/inputFile/inputFile.css
  - ../component/inputProfile/inputProfile.css
  - ../component/buttonBack/buttonBack.css
  - ../component/buttonProfile/buttonProfile.css
  - ../component/editAvatar/editAvatar.css
  - ../component/button/button.css
---
{{!< profile}}

<div class="page">
  {{> editProfile/editProfile}}
</div>
