---
title: Страница не найдена
css:
  - ../styles/styles.css
  - ../component/error/error.css
---
{{!< base}}

<div class="page">
  {{> error/error title="404" subtitle="Не туда попали"}}
</div>
