---
title: Профиль
css:
  - ../styles/styles.css
  - ../component/profile/profile.css
  - ../component/inputProfile/inputProfile.css
  - ../component/buttonBack/buttonBack.css
  - ../component/buttonProfile/buttonProfile.css
  - ../component/editAvatar/editAvatar.css
  - ../component/popup/popup.css
  - ../component/input/input.css
  - ../component/button/button.css
  - ../component/inputFile/inputFile.css
---
{{!< profile}}

<div class="page">
  {{> profile/profile}}
</div>
