---
title: Регистрация
css:
  - ../styles/styles.css
  - ../component/signup/signup.css
  - ../component/input/input.css
  - ../component/button/button.css
---
{{!< signup}}

<div class="page">
  <main class="page__forma">
  {{> signup/signup}}
  </main>
</div>

