---
title: Вход
css:
  - ../component/signin/signin.css
  - ../component/input/input.css
  - ../styles/styles.css
  - ../component/button/button.css
---
{{!< signin}}

<div class="page">
  <main class="page__forma">
  {{> signin/signin}}
  </main>
</div>
