.btn-profile {
   list-style: none;
   text-align: left;
   border-bottom: 1px solid #eaeaea;
   padding-bottom: 10px;
   margin-bottom: 10px;
 
   &:last-of-type {
     border-bottom: none;
     padding-bottom: 0;
     margin-bottom: 0;
   }
 
   &__link {
     text-decoration: none;
     display: inline-block;
     font-size: 15px;
 
     font-weight: 500;
     
     line-height: 15px;
   }
 
 
   &__link_color_red {
     color: #ff0000;
   }
 
   &__link_color_blue {
     color: #2e69fd;
   }
 }
 