<ul class="profile">
  {{> buttonBack/buttonBack href="./chat.hbs"}}
  <li class="profile__main">
    <form class="profile__form">
      {{> editAvatar/editAvatar}}
      <p class="profile__user-name">Иван</p>
      <ul class="profile__list">
        {{> inputProfile/inputProfile type="email" helperText="Почта" value="googool@google.com"}}
        {{> inputProfile/inputProfile type="text" helperText="Логин" value="ivanivanov"}}
        {{> inputProfile/inputProfile type="text" helperText="Имя" value="Иван"}}
        {{> inputProfile/inputProfile type="text" helperText="Фамилия" value="Иванов"}}
        {{> inputProfile/inputProfile type="text" helperText="Имя в чате" value="Иван"}}
        {{> inputProfile/inputProfile type="phone" helperText="Телефон" value="+7 (909) 967 30 3"}}
      </ul>
      <ul class="profile__list">
        {{> buttonProfile/buttonProfile href="./editProfile.hbs"  text="Изменить данные" }}
        {{> buttonProfile/buttonProfile href="./editPassword.hbs" text="Изменить пароль"}}
        {{> buttonProfile/buttonProfile href="./index.hbs" text="Выйти" classes="btn-profile__link_color_blue"}}
      </ul>
    </form>
  </li>
</ul>
{{> popup/popup title="Загрузите файл" textBtn="Поменять" classesPopup="popup_change-avatar" isDefault=false}}
