<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
 
  <title>
    {{> title/title}}
  </title>
</head>
<body>
  <nav style="font-size:20px ;">
    <li> <li><a  href="./register.hbs">register</a></li>
    <li> <a  href="./serverError.hbs">serverError</a></li>
    <li> <a  href="./profile.hbs">profile</a></li>
  <li>   <a  href="./notFound.hbs">notFound</a></li>
   <li>  <a  href="./editProfile.hbs">editProfile</a></li>
    <li> <a  href="./editPassword.hbs">editPassword</a>  </li>
    <li> <a  href="./chat.hbs">chat</a></li>
    <li> <a  href="./signin.hbs">signup</a></li>
  </nav>
</body>
</html>
